<div id="wrapper">
  <div class="wrapper-inner">
    <a id="fake" href='portfolio.html#'></a>
    <div id="top"><!-- Top -->
      <div class="container">
        <div class="row"><!-- Logo -->
          <%= render "shared/joomla_logo" %>
        </div>
      </div>
    </div>

    <div id="header">
      <div class="container"><!-- header -->
        <div class="row">
          <nav class="moduletable home_menu  col-sm-12">
            <div class="module_container">
              <div class="icemegamenu">
                <ul id="icemegamenu">
                  <li id="iceMenu_101" class=" iceMenuLiLevel_1 ">
                    <%= link_to root_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Главная</span>
                    <% end %>
                  </li>
                  <li id="iceMenu_134" class="iceMenuLiLevel_1 mzr-drop parent active">
                    <%= link_to services_path, class: " icemega_active iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">
                        Наши Услуги
                      </span>
                    <% end %>  
                    <ul class="icesubMenu icemodules sub_level_1 style="width:188px"> 
                      <li>
                        <div class="iceCols" style="float:left;width:188px">
                          <ul>
                            <% get_services.each do |serv| %>
                              <% if current_page?(controller: 'services', action: 'show', alias_name: "#{serv.alias_name}") %>
                                <li id="iceMenu_336" class="iceMenuLiLevel_2 current active">
                                  <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                    <span class="icemega_title icemega_nosubtitle">
                                      <%= serv.name %>
                                    </span>   
                                  <% end %> 
                                </li>     
                              <%  else %> 
                                <li id="iceMenu_336" class="iceMenuLiLevel_2">
                                  <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                    <span class="icemega_title icemega_nosubtitle">
                                      <%= serv.name %> 
                                    </span>  
                                  <% end %>  
                                </li>      
                              <% end %> 
                            <% end %> 
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>          
                  <li id="iceMenu_134" class="iceMenuLiLevel_1 ">
                    <%= link_to about_us_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">О нас</span>
                    <% end %>  
                  </li>
                  <li id="iceMenu_285" class="iceMenuLiLevel_1 ">
                    <%= link_to blog_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Блог</span>
                    <% end %> 
                  </li>
                  <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                    <%= link_to gallery_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Галлерея</span>
                    <% end %>
                  </li>
                  <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                    <%= link_to video_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Видео</span>
                    <% end %>
                  </li>
                  <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                    <%= link_to reviews_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Отзывы</span>
                    <% end %>
                  </li>
                  <li id="iceMenu_142" class="iceMenuLiLevel_1 ">
                    <%= link_to contacts_path, class: " iceMenuTitle " do %>
                      <span class="icemega_title icemega_nosubtitle">Контакты</span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

  <div id="breadcrumbs"><!-- breadcrumbs -->
    <div class="container">
      <div class="row">
        <div class="moduletable   col-sm-12">
          <div class="module_container">
            <ul class="breadcrumb">
              <li>
                <a href="/" class="pathway">Berkana show</a>
                <span class="divider fa fa-angle-double-right"></span>
              </li>

              <li class="active"><span>Наши услуги</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content"><!-- Main Content row -->
    <div class="container">
      <div class="row">
        <div class="content-inner"><!-- Left sidebar -->
          <div id="component" class="col-sm-12">
            <main role="main">
              <div id="system-message-container"></div>
              <div class="note"></div>
              <section class="page-gallery page-gallery__works">
                <header class="page_header">
                  <h2>
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Наши услуги</span>
                  </h2>
                </header>

                <ul id="isotopeContainer" class="gallery items-row row cols-3 hover_false">
                  <% get_services.first(3).each do |serv| %>
                    <li class="gallery-item mix mix_all gallery-grid col-sm-4  " data-date="20140502193527" data-name="Popular" data-popularity="224">
                      <div class="gallery-item__content"><!-- Image  -->
                      
                        <figure class="item_img img-intro img-intro__none">
                          <%= image_tag(serv.service_photos.where(priority: 0).first.link_photo_url(:service_main_photo_3), alt: "Огненное шоу Fire show Ростов Ростов-на-Дону шоу Беркана Berkana Show", title: "Огненное шоу Беркана Ростов-на-Дону (Fire-show Berkana)") %>
                          <div class="more_wrapper"><!-- More -->
                            <div class="vert-align">
                              <%= link_to service_path(serv.alias_name), class: " btn btn-info item_more " do %>
                                <span>Подробнее      </span>
                              <% end %>
                            </div>
                          </div>
                        </figure>    
                        <div class="box_inner">
                          <div class="item_header"><!--  title/author -->
                            <h3 class="item_title">
                              <a href="https://livedemo00.template-help.com/joomla_60082/index.php/pages/portfolio/66-in-hac-habitasse">
                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                                  <%= serv.name %>
                                </span>
                              </a>
                            </h3>
                          </div>
                          <div class="item_introtext" style="text-transform: uppercase;"><!-- Introtext -->
                            <%= raw serv.short_description %>
                          </div>
                        </div>
                        <div class="clearfix"></div><!-- info BOTTOM -->
                      </div>
                    </li>
                  <% end %>
                </ul>  
                  <% get_services.last(3).each do |serv| %>
                    <li class="gallery-item mix mix_all gallery-grid col-sm-4  " data-date="20140502193527" data-name="Popular" data-popularity="224">
                      <div class="gallery-item__content"><!-- Image  -->
                      
                        <figure class="item_img img-intro img-intro__none">
                          <%= image_tag(serv.service_photos.where(priority: 0).first.link_photo_url(:service_main_photo_3), alt: "Огненное шоу Fire show Ростов Ростов-на-Дону шоу Беркана Berkana Show", title: "Огненное шоу Беркана Ростов-на-Дону (Fire-show Berkana)") %>
                          <div class="more_wrapper"><!-- More -->
                            <div class="vert-align">
                              <%= link_to service_path(serv.alias_name), class: " btn btn-info item_more " do %>
                                <span>Подробнее      </span>
                              <% end %>
                            </div>
                          </div>
                        </figure>    
                        <div class="box_inner">
                          <div class="item_header"><!--  title/author -->
                            <h3 class="item_title">
                              <a href="https://livedemo00.template-help.com/joomla_60082/index.php/pages/portfolio/66-in-hac-habitasse">
                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                                  <%= serv.name %>
                                </span>
                              </a>
                            </h3>
                          </div>
                          <div class="item_introtext" style="text-transform: uppercase;"><!-- Introtext -->
                            <%= raw serv.short_description %>
                          </div>
                        </div>
                        <div class="clearfix"></div><!-- info BOTTOM -->
                      </div>
                    </li>
                  <% end %>
                  </ul>
                  <ul id="isotopeContainer" class="gallery items-row row cols-3 hover_false">
                    <li class="gap col-sm-4"></li>
                    <li class="gap col-sm-4"></li>
                    <li class="gap col-sm-4"></li>
                  </ul>
                </section>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
