    <div id="content">
      <div class="container">
        <div class="row">
          <div class="content-inner">
            <div id="aside-left" class="col-sm-3">
              <div class="moduletable ">
                <div class="module_container">
                  <header>
                    <h2 class="moduleTitle ">
                      <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Прошедшие</span> 
                      <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">события</span>
                    </h2>
                  </header>
                  <div class="mod-custom mod-custom__"  >
                    <div class="moduletable  ">
                      <div class="module_container">
<!--                         <header class='page_header'>
                          <p class="moduleTitle "></p>
                        </header> -->
                        <div class="mod-menu">
                          <ul class="menu list">
                            <% @past_events.each do |event| %>
                              <li class="item-550">
                                <%= event.title %>
                              </li>
                            <% end %>  
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                                
            <div id="component" class="col-sm-5">
              <main role="main">
                <div id="content-top">
                  <div class="row">
                    <div class="moduletable indent  col-sm-12">
                      <div class="module_container">
                        <header class='page_header'>
                          <h2 class="moduleTitle ">
                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">У нас каждый день праздник!</span>
                          </h2>
                        </header>
                        <div class="mod-newsflash-adv mod-newsflash-adv__indent cols-2" id="module_216">
                          <div class="row">
                            <% @events_with_articles.each do |event| %>
                              <article class="col-sm-6 item item_num0 item__module  " id="item_153">
                                <div class="item_content">
                                  <figure class="item_img img-intro img-intro__"> 
                                    <%= image_tag(event.articles.first.photo_url(:thumb)) %>
                                  </figure>
                                  <div class="item_introtext">
                                    <%= event.articles.first.short_description.html_safe %>
                                  </div>
                                </div>
                                <div class="clearfix"></div>  
                              </article>
                            <% end %>  
                            <!-- <article class="col-sm-6 item item_num1 item__module  lastItem" id="item_154">
                              <div class="item_content">
                                <figure class="item_img img-intro img-intro__"> 
                                  <img src="https://livedemo00.template-help.com/joomla_60082/images/page1-img6.jpg" alt="">
                                </figure>
                                <div class="item_introtext">
                                  From pantomimes to family shows to something a little more alternative, our guides will help you find the festive show that your lot will love. Just keep an eye out for the latest theatre ... 
                                </div>
                              </div>
                              <div class="clearfix"></div>  
                            </article> -->
                          </div> 
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="system-message-container">
              </div>
              <section class="page-category page-category__home">
              </section>
            </main>
          </div>
          <div id="aside-right" class="col-sm-4">
            <div class="moduletable type">
              <div class="module_container">
                <div class="mod-newsflash-adv mod-newsflash-adv__type cols-1" id="module_215">
                  <header>
                    <h2 class="moduleTitle ">
                      <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Ближайшие</span> 
                      <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">мероприятия</span>
                    </h2>
                  </header>
                  <% @future_events.each do |event| %>
                    <div class="row">
                      <article class="col-sm-12 item item_num0 item__module  " id="item_149">
                        <div class="item_content">
                          <h5 class="item_title item_title__type">
                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first"><%= event.title %></span>
                          </h5>
                          <div class="item_introtext">
                            <%= print_event_date(event.started_at) %>
                          </div>
                        </div>
                        <div class="clearfix"></div>  
                      </article>
                    </div>
                  <% end %>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>