<script type="text/javascript">

    jQuery(document).ready(function (){
      jQuery('select').chosen({"disable_search_threshold":10,"search_contains":true,"allow_single_deselect":true,"placeholder_text_multiple":"Type or select some options","placeholder_text_single":"Select an option","no_results_text":"No results match"});
    });
  

jQuery(document).ready(function($){
  jQuery('.hasTooltip').tooltip({"html": true});
if(window.MooTools) {

        // Mootools conflict fix for toggle with Bootstrap 3/JQuery
        window.addEvent('load', function() {
          $$('[rel=tooltip],[data-toggle],a[data-toggle],button[data-toggle],[data-toggle=collapse],a[data-toggle=dropdown],.hasTooltip').each(function (e) {
              e.getParent().hide = null;
              e.hide = null;
          });
        });

      }
});
var path = "templates/theme3339/js/";
(function($){$(document).ready(function(){var o=$("#back-top");$(window).scroll(function(){if($(this).scrollTop()>100){o.fadeIn()}else{o.fadeOut()}});var $scrollEl=($.browser.mozilla||$.browser.msie)?$("html"):$("body");o.find("a").click(function(){$scrollEl.animate({scrollTop:0},400);return false})})})(jQuery);
</script>

<div id="wrapper">
  <div class="blueimp-gallery" id="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
<div class="wrapper-inner">
<a id="fake" href='gallery-1.html#'></a>
  <div id="top">
    <div class="container">
      <div class="row"><!-- Logo -->
        <%= render "shared/joomla_logo" %>
      </div>
    </div>
  </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <nav class="moduletable home_menu  col-sm-12">
          <div class="module_container">
            <div class="icemegamenu">
              <ul id="icemegamenu">
                <li id="iceMenu_101" class="iceMenuLiLevel_1 ">
                  <%= link_to root_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Главная</span>
                  <% end %>
                </li>
                <li id="iceMenu_134" class="iceMenuLiLevel_1 mzr-drop parent">
                  <%= link_to services_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">
                      Наши Услуги
                    </span>
                  <% end %>  
                  <ul class="icesubMenu icemodules sub_level_1 style="width:188px"> 
                    <li>
                      <div class="iceCols" style="float:left;width:188px">
                        <ul>
                          <% get_services.each do |serv| %>
                            <% if current_page?(controller: 'services', action: 'show', alias_name: "#{serv.alias_name}") %>
                              <li id="iceMenu_336" class="iceMenuLiLevel_2 current active">
                                <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                  <span class="icemega_title icemega_nosubtitle">
                                    <%= serv.name %>
                                  </span>   
                                <% end %> 
                              </li>     
                            <%  else %> 
                              <li id="iceMenu_336" class="iceMenuLiLevel_2">
                                <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                  <span class="icemega_title icemega_nosubtitle">
                                    <%= serv.name %> 
                                  </span>  
                                <% end %>  
                              </li>      
                            <% end %> 
                          <% end %> 
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>       
                <li id="iceMenu_134" class="iceMenuLiLevel_1 current active fullwidth">
                  <%= link_to about_us_path, class: " iceMenuTitle icemega_active " do %>
                    <span class="icemega_title icemega_nosubtitle">О нас</span>
                  <% end %>  
                </li>
                <li id="iceMenu_285" class="iceMenuLiLevel_1 ">
                  <%= link_to blog_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Блог</span>
                  <% end %> 
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                  <%= link_to gallery_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Галлерея</span>
                  <% end %>
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1 ">
                  <%= link_to video_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Видео</span>
                  <% end %>
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1">
                  <%= link_to reviews_path, class: " iceMenuTitle" do %>
                    <span class="icemega_title icemega_nosubtitle">Отзывы</span>
                  <% end %>
                </li>
                <li id="iceMenu_142" class="iceMenuLiLevel_1 ">
                  <%= link_to contacts_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Контакты</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div id="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="moduletable   col-sm-12">
          <div class="module_container">
            <ul class="breadcrumb">
              <li>
                <a href="/" class="pathway">Berkana show</a>
                <span class="divider fa fa-angle-double-right"></span>
              </li>
              <li class="active"><span>О нас</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="content-inner">
        <div id="component" class="col-sm-12">
          <main role="main">
            <div id="system-message-container"></div>

            <section class="page-category page-category__team">
              <header class="page_header">
                <h2>
                  Позвольте представиться!
                </h2>  
              </header>
            </section>
            <div id="content-bottom">
              <div class="row">
                <div class="moduletable   col-sm-12">
                  <div class="module_container">
                    <div class="mod-newsflash-adv mod-newsflash-adv__ cols-4" id="module_171">
                      <div class="row">
                        <% @members.each do |member| %>
                          <article class="col-sm-3 item item_num0 item__module  " id="item_41">
      
                            <div class="item_content" style="text-align: center;">
                              <figure class="item_img img-intro img-intro__none"> 
                                <%= image_tag(member.avatar_url(:avatar)) %>
                              </figure>
                              <h5 class="item_title item_title__">
                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">
                                  <%= member.name %>
                                </span> 
                              </h5>
                              <div class="item_introtext">
                                <p>
                                  <%= member.description %>
                                </p>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </article>
                        <% end %>  
                      </div> 
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="page-category page-category__team">
              <header class="page_header">
                <h2>
                  Немного о нас
                </h2>  
              </header>
              <%= render "shared/about" %>

              <%= render "shared/counters" %>

            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
      <div id="map_container"><div class="container">
        <div class="row">
          <div class="moduletable   col-sm-12">
            <div class="module_container">
              <header class='page_header'>
                <h3 class="moduleTitle ">География наших выступлений давно вышла за пределы Ростовской области

                </h3>
              </header>
              <div id="map" class="map" style="margin-right: auto; margin-left: auto; width:100%; height:460px;"></div>
              <script>
                function initMap() {
                  var infowindow = new google.maps.InfoWindow({
                      content: "<span>any html goes here</span>"
                  });

                  var markers = [
                    {marker: {lat: 47.235684, lng: 39.714870}, title: 'Ростов-на-Дону'},
                    {marker: {lat: 51.674316, lng: 39.212930}, title: 'Воронеж'},
                    {marker: {lat: 45.038908, lng: 39.004374}, title: 'Краснодар'},
                    {marker: {lat: 44.050260, lng: 43.047808}, title: 'Пятигорск'},
                    {marker: {lat: 44.612896, lng: 33.576185}, title: 'Севастополь'},
                    {marker: {lat: 44.702734, lng: 37.595512}, title: 'Абрау-Дюрсо'},
                    {marker: {lat: 47.240804, lng: 38.861095}, title: 'Таганрог'},
                    {marker: {lat: 47.094932, lng: 39.414195}, title: 'Азов'},
                    {marker: {lat: 48.333009, lng: 39.968488}, title: 'Донецк'},
                    {marker: {lat: 49.631753, lng: 41.718254}, title: 'Вешенская'},
                    {marker: {lat: 48.330549, lng: 40.255768}, title: 'Каменск-Шахтинский'},
                    {marker: {lat: 28.618877, lng: 77.221333}, title: 'Нью-Дели'},
                    {marker: {lat: 46.047518, lng: 38.191400}, title: 'Приморско-Ахтарск'},
                    {marker: {lat: 44.966330, lng: 35.246264}, title: 'Коктебель'},
                    {marker: {lat: 46.683450, lng: 38.273639}, title: 'Ейск'},
                    {marker: {lat: 47.725165, lng: 40.230524}, title: 'Шахты'},
                    {marker: {lat: 47.418682, lng: 40.080910}, title: 'Новочеркасск'},
                    {marker: {lat: 47.755449, lng: 39.930666}, title: 'Новошахтинск'},
                    {marker: {lat: 47.515861, lng: 40.816459}, title: 'Семикаракорск'},
                    {marker: {lat: 48.181328, lng: 40.792470}, title: 'Белая Калитва'},
                    {marker: {lat: 43.699086, lng: 39.584219}, title: 'Лоо'},
                    {marker: {lat: 44.325808, lng: 38.703720}, title: 'Джубга'},
                    {marker: {lat: 43.282454, lng: 40.269217}, title: 'Гагра'},
                    {marker: {lat: 43.436663, lng: 39.941921}, title: 'Адлер'},
                    {marker: {lat: 45.047364, lng: 41.967238}, title: 'Ставрополь'},
                    {marker: {lat: 44.792996, lng: 44.152985}, title: 'Буденовск'},
                    {marker: {lat: 46.398385, lng: 41.870469}, title: 'Новый Егорлык'},
                    {marker: {lat: 56.297233, lng: 43.925364}, title: 'Нижний Новгород'},
                    {marker: {lat: 57.627893, lng: 39.875475}, title: 'Ярославль'},
                    {marker: {lat: 59.129999, lng: 37.919639}, title: 'Череповец'},
                    {marker: {lat: 55.748517, lng: 37.646112}, title: 'Москва'},
                  ]
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 3,
                    center: markers[0].marker
                  });

                  for (var i = 0, len = markers.length; i < len; i++) {
                    var marker = new google.maps.Marker({
                      position: markers[i].marker,
                      map: map,
                      title: markers[i].title
                    });
                  }
                }
              </script>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwzWpT4yEIYtST9khyX1fTuttmYtSHrJI&callback=initMap"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


