<script type="text/javascript">

    jQuery(document).ready(function (){
      jQuery('select').chosen({"disable_search_threshold":10,"search_contains":true,"allow_single_deselect":true,"placeholder_text_multiple":"Type or select some options","placeholder_text_single":"Select an option","no_results_text":"No results match"});
    });
  
(function($){$(function(){var $container=$("#jg_gallery");$container.mixitup({effects:["fade","scale","rotateZ"],onMixLoad:function(){$container.addClass("loaded")}});
  var click=true;
  $('a[data-fancybox="fancybox"]').fancybox({padding:0,margin:0,loop:true,openSpeed:500,closeSpeed:500,nextSpeed:500,prevSpeed:500,
    afterLoad:function(){$(".fancybox-inner").click(function(){if(click==true){$("body").toggleClass("fancybox-full")}})},beforeShow:function(){$("body").addClass("fancybox-lock")},afterClose:function(){$("body").removeClass("fancybox-lock");},tpl:{image:'<div class="fancybox-image"style="background-image: url(https://livedemo00.template-help.com/joomla_60082/index.php/gallery/gallery/\'{href}\');"/>'},helpers:{title:null,thumbs:{height:50,width:80},overlay:{css:{"background":"#191919"}}}});})})(jQuery)
jQuery(document).ready(function($){
  jQuery('.hasTooltip').tooltip({"html": true});
if(window.MooTools) {

        // Mootools conflict fix for toggle with Bootstrap 3/JQuery
        window.addEvent('load', function() {
          $$('[rel=tooltip],[data-toggle],a[data-toggle],button[data-toggle],[data-toggle=collapse],a[data-toggle=dropdown],.hasTooltip').each(function (e) {
              e.getParent().hide = null;
              e.hide = null;
          });
        });

      }
});
var path = "templates/theme3339/js/";
(function($){$(document).ready(function(){var o=$("#back-top");$(window).scroll(function(){if($(this).scrollTop()>100){o.fadeIn()}else{o.fadeOut()}});var $scrollEl=($.browser.mozilla||$.browser.msie)?$("html"):$("body");o.find("a").click(function(){$scrollEl.animate({scrollTop:0},400);return false})})})(jQuery);
</script>

<div id="wrapper">
  <div class="blueimp-gallery" id="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
<div class="wrapper-inner">
<a id="fake" href='gallery-1.html#'></a>
  <div id="top">
    <div class="container">
      <div class="row"><!-- Logo -->
        <%= render "shared/joomla_logo" %>
      </div>
    </div>
  </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <nav class="moduletable home_menu  col-sm-12">
          <div class="module_container">
            <div class="icemegamenu">
              <ul id="icemegamenu">
                <li id="iceMenu_101" class="iceMenuLiLevel_1 ">
                  <%= link_to root_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Главная</span>
                  <% end %>
                </li>
                <li id="iceMenu_134" class="iceMenuLiLevel_1 mzr-drop parent">
                  <%= link_to services_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">
                      Наши Услуги
                    </span>
                  <% end %>  
                  <ul class="icesubMenu icemodules sub_level_1 style="width:188px"> 
                    <li>
                      <div class="iceCols" style="float:left;width:188px">
                        <ul>
                          <% get_services.each do |serv| %>
                            <% if current_page?(controller: 'services', action: 'show', alias_name: "#{serv.alias_name}") %>
                              <li id="iceMenu_336" class="iceMenuLiLevel_2 current active">
                                <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                  <span class="icemega_title icemega_nosubtitle">
                                    <%= serv.name %>
                                  </span>   
                                <% end %> 
                              </li>     
                            <%  else %> 
                              <li id="iceMenu_336" class="iceMenuLiLevel_2">
                                <%= link_to service_path(serv.alias_name), class: " iceMenuTitle " do %> 
                                  <span class="icemega_title icemega_nosubtitle">
                                    <%= serv.name %> 
                                  </span>  
                                <% end %>  
                              </li>      
                            <% end %> 
                          <% end %> 
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>       
                <li id="iceMenu_134" class="iceMenuLiLevel_1 ">
                  <%= link_to about_us_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">О нас</span>
                  <% end %>  
                </li>
                <li id="iceMenu_285" class="iceMenuLiLevel_1 ">
                  <%= link_to blog_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Блог</span>
                  <% end %> 
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery current active fullwidth">
                  <%= link_to gallery_path, class: " iceMenuTitle icemega_active " do %>
                    <span class="icemega_title icemega_nosubtitle">Галлерея</span>
                  <% end %>
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                  <%= link_to video_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Видео</span>
                  <% end %>
                </li>
                <li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
                  <%= link_to reviews_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Отзывы</span>
                  <% end %>
                </li>
                <li id="iceMenu_142" class="iceMenuLiLevel_1 ">
                  <%= link_to contacts_path, class: " iceMenuTitle " do %>
                    <span class="icemega_title icemega_nosubtitle">Контакты</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div id="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="moduletable   col-sm-12">
          <div class="module_container">
            <ul class="breadcrumb">
              <li>
                <a href="/" class="pathway">Berkana show</a>
                <span class="divider fa fa-angle-double-right"></span>
              </li>
              <li class="active"><span>Галлерея</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="content-inner">
          <div id="component" class="col-sm-12">
            <main role="main">
              <div id="system-message-container"></div>
              <div class="gallery">
                <header class="page_header">
                  <h2>
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Галлерея</span>
                  </h2>
                </header>
                <div class="jg_category"></div>
                <div class="jg_gallery row cols-3" id="jg_gallery">
                  <div class="jg_displaynone"></div>  
                  <% @photos.each do |photo| %>  
                    <div class="jg_element_cat mix gallery-grid gallery-item col-sm-4" data-date="20161013170132" data-value="0">
                      <div class="jg_imgalign_catimgs" style="overflow: hidden; max-height: 220px; margin-top: 30px">
                        <%= link_to photo.link_photo_url(:service_main_photo_2) do %>
                          <%= image_tag(photo.link_photo_url(:service_main_photo_2), size: "768x540", class: "jg_photo_custom") %>
                        <% end %>  
                        <div class="jg_catelem_txt">
                          <ul></ul>
                        </div>
                      </div>
                    </div>
                  <% end %>  
                  <div class="jg_displaynone"></div>
                </div>
                <div style="text-align: center; font-family: Gabriela;">
                  <%= paginate @photos %>
                </div>  
              </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>(function() {
  document.getElementById("jg_gallery").onclick = function(event) {
    var link, links, options, target;
    event = event || window.event;
    target = event.target || event.srcElement;
    link = (target.src ? target.parentNode : target);
    options = {
      index: link,
      event: event
    };
    links = this.getElementsByTagName("a");
    return blueimp.Gallery(links, options);
  };
}).call(this);
</script>